<a class="contacts" href="6506895045">
    		<span class="fa-stack fa-lg">
    			<i class="fa fa-circle-thin fa-stack-2x"></i>
    			<i class="fa fa-phone fa-stack-1x"></i>
    		</span>650-689-5045</a>
<a class="contactUs" href="mailto:info@eliteperformance-us.com" target="_blank"><i class="fa fa-envelope fa-fw"></i>info@eliteperformance-us.com</a>