<div class="social">
	<a href="https://www.facebook.com/eliteperformanceus"><i class="fa fa-facebook-square"></i><span class="hidden">Facebook</span></a>
	<a href="https://www.youtube.com/channel/UCk8IJx4O_HKfUqJHaGfX9aQ"><i class="fa fa-youtube-square"></i><span class="hidden">Youtube</span></a>
	{{!--
	<a href="#"><i class="fa fa-twitter-square fa-2x"></i><span class="hidden">Twitter</span></a>
	--}}
</div>