{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}


<main role="main" id="productBlock">
    <article class="{{post_class}} imgOnRight">
        <header class="titleBlock">
            <h1 class="blockTitle">{{title}}</h1>
            <a class="storeBtn mobileHidden" href="#">Visit Store</a>
        </header>
        <section class="contentBlock" data-iframe-height>
            <div class="filter desktopHidden"></div>
            {{content}}
        </section>

    </article>
</main>
    <script type="text/javascript" src="{{asset "js/libs/iframeResizer.contentWindow.min.js"}}"></script>
{{/post}}