
/* Define color scheme variables */

$white: rgba(255,255,255,1);
$black: rgba(0,0,0,1);

$bodytextcolor: $white;
$bodybackground: $black;
$headertextcolor: $white;
$alinkcolor: rgba(255,111,32,1);
$textshadow: 1px 1px 2px fade_out($black, 0.5);

$superheavytext: 900;
$heavytext: 700;
$mediumtext: 400;
$lighttext: 100;

/*brand specific color scheme*/
$logocolor: rgba(255,111,32,1);


/*footer color*/
$footerbackground: $white;
$footertext: $black;

///////////////////////////////////////////////
//Desktop specific variables///////////////////
///////////////////////////////////////////////

/*brand specific logo size*/
$logosize: 100px;

//padding between page center to text
$desktopTextToCenter: 35px;



///////////////////////////////////////////////
//Mobile specific variables///////////////////
///////////////////////////////////////////////

$mobilelogosize: 80px;
$mobileTextToCenter: 20px;

$handheld: 'screen';
